<div *ngIf="listingData" class="product">

    <div class="product__header flex-row-hcenter-between">
        <p *ngIf="listingData">{{listingData.product_name}}</p>
        <div class="flex-row-vcenter">
            <p *ngIf="listingData"><em>product code</em> {{listingData.product_code}}</p>
            <div class="i-button-and-popup">
                <i (mouseenter)="Toggle(true)" (mouseleave)="Toggle(false)" class="fa-solid fa-info"></i>
                <p *ngIf="show" class="i-popup">Use the codes on your Order Form</p>
            </div>
        </div>
    </div>

    <div class="product__main">

        <div class="product__images">
            <div class="product__large-img">
                <img *ngIf="listingData" class="large-img" [src]="listingData.MAIN_IMG">
            </div>
            <div class="product__small-images">
                <ng-container *ngIf="listingData">
                    <img *ngFor="let image of listingData.IMAGES" class="product__small-image" [src]="image" alt="">
                </ng-container>
            </div>
        </div>

        <div class="product__info">

            <div class="product__details">
                <div class="product__description">
                    <p *ngIf="listingData">{{listingData.product_description.description}}</p>
                    <ng-container *ngIf="listingData">
                        <p *ngIf="listingData.product_description.optional"><strong>Optional: </strong>{{listingData.product_description.optional}}</p>
                    </ng-container>
                </div>
                <div class="product__size">
                    <p *ngIf="listingData">{{listingData.product_size}}</p>
                </div>
                <div class="product__price">
                    <ng-container *ngIf="listingData">
                        <p *ngFor="let price of listingData.PRICES">{{price.price_description}} <strong>R{{price.price_amount}}.00</strong></p>
                    </ng-container>
                </div>
                <ng-container *ngIf="listingData.product_video">
                    <button (click)="ToggleVideo()" class="button-border product-video-btn">Demonstration Video <i class="fa-solid fa-play"></i></button>
                </ng-container>
            </div>

            <div class="product__materials">
                <div class="product__colors">
                    <ng-container *ngIf="listingData">
                        <div *ngFor="let colour of listingData.COLOURS" class="color-pattern-group">
                            <i [style.background-color]="colour.colour_hex" [style.color]="colour.colour_hex" class="product__color fa-solid fa-circle-half-stroke"></i>
                            <p class="color-pattern-code"><em>{{colour.colour_code}}</em></p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="listingData">
                        <div *ngFor="let two_tone of listingData.TWO_TONE" class="color-pattern-group">
                            <i [style.background-color]="two_tone.TWO.colour_hex" [style.color]="two_tone.ONE.colour_hex" class="product__color fa-solid fa-circle-half-stroke"></i>
                            <p class="color-pattern-code"><em>{{two_tone.two_tone_code}}</em></p>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="listingData">
                    <div class="product__patterns">
                        <ng-container *ngIf="listingData.material_patterns">
                            <p> <em>{{listingData.material_patterns.material_component}}</em> </p>
                            <div *ngFor="let material of listingData.material_patterns.MATERIALS" class="color-pattern-group">
                                <div [style.background-image]="makeUrl(material.IMG)" class="product__patterns-img"></div>
                                <p class="color-pattern-code"><em>{{material.material_code}}</em></p>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="listingData">
                <div class="product__materials" *ngIf="listingData.DEVIATION">
                    <p> <em>{{listingData.DEVIATION.deviation}}</em> </p>
                    <div class="product__colors">
                        <div *ngFor="let colour of listingData.DEVIATION.DEVIATIONcolours" class="color-pattern-group">
                            <i [style.background-color]="colour.colour_hex" [style.color]="colour.colour_hex" class="product__color fa-solid fa-circle-half-stroke"></i>
                            <p class="color-pattern-code"><em>{{colour.colour_code}}</em></p>
                        </div>
                    </div>
                    <div class="product__patterns">
                        <ng-container *ngIf="listingData">
                            <div *ngFor="let pattern of listingData.DEVIATION.DEVIATIONpatterns" class="color-pattern-group">
                                <div [style.background-image]="makeUrl(pattern.DEVIATIONpatternImg)" class="product__patterns-img"></div>
                                <p class="color-pattern-code"><em>{{pattern.pattern_code}}</em></p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            
        </div>

    </div>

    <ng-container *ngIf="listingData.product_video">
        <div *ngIf="show_video" class="video-box flex-col-hcenter">
            <div class="flex-row-vcenter-between">
                <p>Demonstration Video</p>
                <button (click)="CloseVideo()" class="button-border close-video-btn">Close <i class="fa-solid fa-xmark"></i></button>
            </div>
            <iframe class="video-box__video" [src]="sanitize(listingData.product_video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </ng-container>

</div>
