/* ORDER */

h1 {
    margin-bottom: 1em;
}

.order {
    background-color: var(--color-100);
}

a {
    color: var(--color-900);
}

.download-button {
    padding: 0.25em;
    border: 1px solid var(--color-900);
    box-shadow: var(--button-box-shadow-t);
    transition: box-shadow var(--transition-time);
}
    .download-button:hover {
        box-shadow: var(--button-box-shadow-d);
    }


.order__form {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

iframe {
    width: 80%;
    min-height: 800px;
}
