<app-hero></app-hero>


<main>

    <section id="features" class="features">
      <div class="two-col-grid">
          <ng-container *ngIf="home_data">
              <div *ngFor="let feature of home_data.FEATURES" class="feature flex-col">
                  <h3>{{feature.title}}</h3>
                  <p>{{feature.description}}</p>
              </div>
          </ng-container>
      </div>
    </section>
  
    <section id="story" class="story" [ngStyle]="{ 'background-image': story_img ? makeUrl(story_img) : 'none' }">
        <ng-container *ngIf="home_data">
            <div class="transparent-rounded-div">
                <h2>{{home_data.story.title}}</h2>
                <p *ngFor="let par of home_data.story.STORY">{{par}}</p>
            </div>
        </ng-container>
    </section>
    
    <section class="product-categories three-col-grid">
      <ng-container *ngIf="category_data">
          <div *ngFor="let cat of category_data" class="category">
              <div class="category__img">
                  <a routerLink="/products" [fragment]="cat.category_slug"> <img [src]="cat.category_image" alt=""> </a>
              </div>
              <p>{{cat.category_name}}</p>
          </div>
      </ng-container>
    </section>
  
</main>